@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}
header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #0677e0;
    border-radius: 10px;
    background: url('images/dna-1811955_1280.jpg');
    background-size: cover;
}
h1
{
    font-family: 'Protest Revolution', 'Stencil', 'Wide Latin';
    font-size: 300%;
}
.h1img
{
    height: 50px;
    width: 50px;
}
.h1
{
    color: rgb(200, 400, 950);
    text-decoration: none;
}
.nav
{
    text-decoration: none;
    color: rgb(200, 400, 950);
    margin-right: 10px;
    padding: 2px;
    border-bottom: 2px solid;
    border-radius: 5px;
    font-size: 120%;
}
.nav:hover
{
    border-top: 2px solid;
    border-radius: 5px;
    color: rgb(200, 400, 950);
}
nav
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
}
h2
{
    background-image: url('images/bacteria-3662695_12802.jpg');
    background-clip: text;
    color: transparent;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.des
{
    display: flex;
    justify-content: center;
}
.des img
{
    margin-left: 40%;
    width: 250px;
}
h3, h4
{
    display: flex;
    justify-content: center;
}
.container
{
    display: flex;
}
.card
{
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #fff;
    flex: 1;
    transition: 3s all ease;
}
.card:hover
{
    flex: 2;
    background-color: rgb(207, 207, 207);
}
.doc
{
    margin-left: 10%;
    margin-right: 10%;
}
